{% extends "catalog/base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            {% if user.is_authenticated %}
                <h1>Здравствуйте, {{ user.get_username }}!</h1>
            {% else %}
                <h1>Добро пожаловать в RiotRecords!</h1>
            {% endif %}
            <p>Здесь вы найдете лучшие виниловые пластинки.</p>
        </div>
    </div>
    <div class="row mt-4">
        {% for item in Items %}
        <!-- Album card -->
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ item.image }}" class="card-img-top">
                <div class="card-body" id="{{ item.id }}">
                    <h5 class="card-title">{{ item.album_name }}</h5>
                    <p class="card-text">Исполнитель: {{ item.band_name }}</p>
                    <p class="card-text">Год выпуска: {{ item.year }}</p>
                    <p class="card-text">Цена: {{ item.price }} $</p>
                    <a class="btn btn-primary add-to-cart" href="{% url 'cart:add_to_cart' item.id %}">Добавить в корзину</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}