{% extends 'base.html' %}

{% block title %}Корзина{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1>Ваша корзина</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Название альбома</th>
                <th>Исполнитель</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in cart_items %}
                <tr>
                    <td>{{ cart_item.item.album_name }}</td>
                    <td>{{ cart_item.item.band_name }}</td>
                    <td>{{ cart_item.item.price }} руб.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'catalog:index' %}" class="btn btn-secondary">Продолжить покупки</a>
</div>
{% endblock content %}
