{% extends "admin/base_site.html" %}

{% block content %}
<!-- Bootstrap -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<!-- END Bootstrap -->

<!-- Chart -->
<div class="d-flex justify-content-center align-items-center">
  <canvas id="myChart" width="800" height="300"></canvas>
</div>
<!-- END Chart -->

<!-- Form -->
<div class="d-flex justify-content-center align-items-center">
  <form action="{% url 'stats:get_total_sales' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отрисовать чарт продаж">
  </form>
</div>
<!-- END Form -->


<!-- Chart Scripts -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for label in labels %} "{{label}}", {% endfor %}],
      datasets: [{
        label: 'Total number of sales{% if item_name is not None %} {{ item_name }} {% endif %}',
        data: [{% for sale_count in data %} {{ sale_count }}, {% endfor %}],
        borderWidth: 1
      }]
    },
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<!-- END Chart Scripts -->


<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- END Bootstrap -->

{% endblock %}