{% extends "admin/base_site.html" %}

{% block content %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<form action="{% url 'stats:get_total_sales' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Отрисовать чарт продаж">
</form>

<div class="d-flex justify-content-center align-items-center full-height">
  <canvas id="myChart" width="800" height="300"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for label in labels %} "{{label}}", {% endfor %}],
      datasets: [{
        label: 'Total number of sales{% if item_name %} {{ item_name }} {% endif %}',
        data: [{% for sale_count in data %} {{ sale_count }}, {% endfor %}],
        borderWidth: 1
      }]
    },
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

{% endblock %}