{% extends "admin/base_site.html" %}

{% block content %}

<form action="{% url 'stats:get_total_sales' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Отрисовать чарт продаж">
</form>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for label in labels %} "{{label}}", {% endfor %}], // ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: 'Total number of sales{% if item_name %} {{ item_name }} {% endif %}',
        data: [{% for sale_count in data %} {{ sale_count }}, {% endfor %}], // [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}